#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
width: 90%;

}
#container >div{
    
    height: 350px;
    width: 350px;
    
}
#container >div>img{
width: 100%;
height: 250px;
}